ServiceBusApplicationAge/SBProject/WADL/RestServiceAge.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="RestServiceAge">RestServiceAge</doc>
  <resources>
    <resource path="/age">
      <method name="POST" soa:name="MethodAge">
        <request>
          <param name="name" style="query" type="xsd:string">
            <doc title="name">name</doc>
          </param>
          <param name="dateOfBirth" style="query" type="xsd:string">
            <doc title="dateOfBirth">dateOfBirth</doc>
          </param>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
        <response status="500">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>
